version: "2"

services:
  db:
    image: mariadb:12.1@sha256:e1bcd6f85781f4a875abefb11c4166c1d79e4237c23de597bf0df81fec225b40
    restart: always
    ports:
      - 3306:3306
    # volumes:
    #   - ./docker-persistence/mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=admin
      - MYSQL_USER=pizza_suggester
      - MYSQL_PASSWORD=pizza_suggester
      - MYSQL_DATABASE=pizza_suggester_db

  db2:
    image: postgres@sha256:38d5c9d522037d8bf0864c9068e4df2f8a60127c6489ab06f98fdeda535560f9
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=pizza_suggester_db
      - POSTGRES_USER=pizza_suggester
      - POSTGRES_PASSWORD=pizza_suggester

  adminer:
    image: adminer@sha256:ae1d4d7774c544d084e42887a318e6b0f47ad8c60fe1661d9278ef169c8b4eaa
    depends_on:
      - db
      - db2
    ports:
      - 8000:8080
    environment:
      - ADMINER_DEFAULT_SERVER=db