version: "2"

services:
  db:
    image: mariadb:12.1@sha256:f54db0cb3ccfe9431aba6d08c65a1763c499789b116b4cb651dd7fcf325965b3
    restart: always
    ports:
      - 3306:3306
    # volumes:
    #   - ./docker-persistence/mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=admin
      - MYSQL_USER=pizza_suggester
      - MYSQL_PASSWORD=pizza_suggester
      - MYSQL_DATABASE=pizza_suggester_db

  db2:
    image: postgres@sha256:5773fe724c49c42a7a9ca70202e11e1dff21fb7235b335a73f39297d200b73a2
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=pizza_suggester_db
      - POSTGRES_USER=pizza_suggester
      - POSTGRES_PASSWORD=pizza_suggester

  adminer:
    image: adminer@sha256:d7df936c1b3f2aad9e3283f029a6da2bfd5f0406aed2f0c13d589502b0f03ee4
    depends_on:
      - db
      - db2
    ports:
      - 8000:8080
    environment:
      - ADMINER_DEFAULT_SERVER=db