[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "==2.24.0"
environs = "==8.0.0"
Babel = "==2.8.0"
python-telegram-bot = "*"

[requires]
python_version = "3.8"
