name: Build a docker image for testing purposes

on:
  pull_request:
    branches:
      - master
    paths:
      - '**.py'
      - '.github/workflows/build-and-publish.yml'
      - '**.java'
      - '**.properties'
      - '*.gradle'
      - 'Dockerfile'

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        with:
          images: ${{ vars.DOCKERHUB_IMAGENAME }}
          github-token: ${{ github.token }}

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          push: false
          tags: |
            ${{ steps.meta.outputs.tags }}
            ${{ vars.DOCKERHUB_IMAGENAME }}:latest
            ${{ vars.DOCKERHUB_IMAGENAME }}:${{ github.sha }}
          labels: ${{ steps.meta.outputs.labels }}
